.CvInputContainer{
  display: grid;
  grid-row: 2/4;
  grid-column: 1/2;
   flex-direction: column;
}

.CvInputContainer label {
  display: flex;
  flex-direction: column;
  
}

.inputs {
  display: flex;
  flex-direction: column;
  padding:40px 10px 0px 40px;
  height: 100%;
  gap: 10px;
}
.inputs span{
font-family: 'Times New Roman', Times, serif;

}
.personal-title{
  font-size: 1.7em;
}
.experience-title{
  margin-top: 30px;
  font-size: 1.7em;
}
.btn{
  width: 18%;
  background: none;
  height: 30px;
  font-size: 1em;
}
.exp-form{
  display: flex;
  align-items: center;
  gap: 5px;
}
.exp-form img{
  height: 24px;
  
}

.trash-img {
  margin-top: 11px;
  height: 20px;
}
.input-img-container {
  display: flex;
  flex-direction: row;
 
}


.input-img-container img:hover{
filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}