*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.CvOutputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2 / 5;
  grid-column: 2 / 3;

 
}

.output-data-container{
  display: flex;

  min-height: 700px;
  width: 57%;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 25px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
border-radius: 2px;
}
.output-data-container h2{
 align-self: flex-start;
 margin-left: 40px;
  margin-top: 10px;
  font-size: 1em;
}
.full-name{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-bottom: 10px;
}

.contact-container{
  display: flex;
    max-height: 25px;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}
.contact-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 15px;
  
}
.contact-container img {
  height: 15px;
}

hr{
  min-width: 85%;
}

.experience-input-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    column-gap: 50px;
}
.experience-input-container input {
   border-radius: 5px;
}

.job-title input {
    width: 320px;
    height: 25px;
    
}

.employer-input input{
    width: 320px;
    height: 25px;
}

.start-date-input input {
    width: 210px;
    height: 25px;
}

.end-date-input input{
     width: 210px;
    height: 25px;
}
.city-input input {
     height: 25px;
}
.description-input{
    width: 100%;
}
.description-input textarea {
   width: 100%;
    min-height: 80px;
   vertical-align: top;
   resize: none;
     border-radius: 5px;
}

.input-container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 22px;
  width: 80%;

}
/*  */
.input-container span{
 font-size: 1.1em;
 font-family: 'Times New Roman', Times, serif;
}

.input-info{
    display: flex;
  min-height: 30px;
 justify-content: space-between;
 

}
.input-info ul {
  display: flex;
  flex-direction: column;
gap: 2px;
 

}

.input-info h5 {
  color: #FFBF00;
  font-size:1em;
}
.input-info ul li {
  font-size: 15px;
}
.input-info li{
list-style: none;
}
.input-info li:nth-of-type(1){
list-style: circle;
}

.job-info{
  word-break: break-all;

}
.city-info {
    display: flex;
    height: 20px;
     font-size: 15px;
    }

.description-info {
     
     overflow-wrap: break-word
}