.header{
    display: flex;
    grid-row: 0 / 1;
    grid-column: 0 / 1;
    height: 100%;
    width: 100%;
    font-size: 2em;
   font-family: 'Open Sans', sans-serif;
    color:goldenrod;
    border-bottom: 1px grey solid;
    justify-content: center;
    align-items: center;
   
}